* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font1: 'DM Sans', sans-serif;
    --font2: 'Forum', cursive;
    --yellow: #f9af01;
    --white: #ffffff;
    --grey: #171819;
}
body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--font1);
    color: var(--white);
    background-color: #000000;
}
.ohidden {
    overflow: hidden;
}
h1, h2, h3, h4 {
    font-family: var(--font2);
}
p {
    font-size: 14px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: unset;
}
.small-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--yellow);
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .4em;
    margin-bottom: 1rem;
}
.small-head img {
    width: 80px;
    margin-top: 1rem;
}
.btn-yellow {
    min-width: 100px;
    max-width: 150px;
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid var(--yellow);
    text-decoration: unset;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2em;
    position: relative;
    z-index: 0;
}
.btn-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 42px;
    bottom: -14px;
    transition: .5s;
}
.btn-yellow:before {
    content: '';
    position: absolute;
    width: 150%;
    height: 100px;
    background-color: var(--yellow);
    z-index: -1;
    border-radius: 50%;
    bottom: 105%;
    transition: .5s;
}
.btn-text-wrap span:nth-child(1) {
    color: var(--yellow);
}
.btn-text-wrap span:nth-child(2) {
    color: #000;
}
.btn-yellow:hover .btn-text-wrap {
    bottom: 11px;
}
.btn-yellow:hover:before {
    bottom: -15px;
}
.pad-5x {
    padding: 5rem 0;
}
.header {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.header p {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.header-head {
    font-size: 3rem;
    margin: 1.5rem 0 1rem 0;
}
img {
    max-width: 100%;
}
.grey-bg {
    background-color: var(--grey);
}
.prev-arrow, .next-arrow {
    position: absolute;
    top: 50%;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    z-index: 0;
}
.prev-arrow:before, .next-arrow:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--yellow);
    transform: rotate(45deg);
    z-index: -1;
}
.prev-arrow {
    left: 0;
}
.next-arrow {
    right: 0;
}
.prev-arrow:hover:before, .next-arrow:hover:before {
    background-color: #454545;
}






/* header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    transition: .3s;
}
header.active {
    top: -50px;
    background-color: #0d1819;
}
.menu-left {
    display: flex;
    align-items: center;
}
.hamburger {
    width: 20px;
    margin-right: 1.5rem;
    display: none;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000078;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}
.logo {
    width: 100px;
}
.top-contact {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #333;
}
.top-contact li, .top-contact li a {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #fff;
    margin-right: 2rem;
    transition: .3s;
}
.top-contact li a:hover {
    color: var(--yellow);
}
.top-contact li img, .top-contact li a img {
    margin-right: 10px;
    width: 15px;
}
.top-contact li:nth-child(3) {
    margin-left: auto;
}
.top-contact li:nth-child(4) {
    margin-right: 0;
}
.mynavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
header.active .mynavbar {
    padding: .5rem 0;
}
.navlist .logo {
    display: none;
}
.navlist ul {
    display: flex;
    align-items: center;
}
.navlist ul li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1rem;
    margin: 1.5rem;
    position: relative;
    transition: .3s;
}
.navlist ul li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-top: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);
    left: 50%;
    top: 120%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .3s;

}
.navlist ul li a:hover {
    color: var(--yellow);
}
.navlist ul li a:hover:before {
    display: block;
    opacity: 1;
}
/* end header */

/* banner */
.banner-wrapper {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 13%;
}
.banner-text {
    text-align: center;
}
.banner-text h1 {
    font-size: 5rem;
    line-height: 5rem;
    margin: 2rem 0 1rem 0;
}
.banner-text .btn-yellow {
    margin: 2rem auto 0 auto;
}
/* end banner */

/* offer */
.offer-wrapper {
    position: relative;
}
.design img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    z-index: -1;
}
.design img:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    z-index: -1;
}
.design img:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    z-index: -1;
}
.offer-box {
    text-align: center;
    padding: 1em;
}
.offer-img {
    width: 200px;
    margin: 0 auto;
    padding: 1em 0;
    position: relative;
}
.offer-img:before {
    content: '';
    position: absolute;
    width: 150px;
    height: 100%;
    background-image: url(../images/icons/design2.svg);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.offer-text h3 {
    margin: 1rem 0 .1rem 0;
}
.anchor {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--yellow);
    letter-spacing: .2rem;
    position: relative;
}
.anchor:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    border-top: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .3s;
}
.anchor:hover {
    color: var(--white);
}
.anchor:hover:before {
    opacity: 1;
    width: 100%;
}
.offer-container {
    max-width: 1000px;
    width: 100%;
}
.offer-container .col-md-4:nth-child(2) {
    margin-top: 1rem;
}
.offer-container .col-md-4:nth-child(1),
.offer-container .col-md-4:nth-child(3) {
    margin-top: -5rem;
}
/* end offer */

/* story */
.story-wrapper {
    position: relative;
    z-index: 0;
}
.story-wrapper .design img:nth-child(1) {
    bottom: unset;
    top: 20%;
}
.story-wrapper .design img:nth-child(2) {
    width: unset;
}
.story-left .anchor {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin: 1rem 0 1.5rem 0;
    display: block;
}
.story-left .btn-yellow {
    margin: 0 auto;
}
/* end story */

/* special */
.special-wrapper {
    position: relative;
    z-index: 0;
}
.special-wrapper .design img {
    top: 20%;
    left: unset;
    right: 0;
}
.special-left {
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.special-right {
    max-width: 400px;
    margin: 0 auto;
}
/* end special */

/* menu */
.menu-wrapper {
    position: relative;
    z-index: 0;
}
.menu-wrapper .design img:nth-child(1) {
    width: 500px;
}
.menu-wrapper .design img:nth-child(2) {
    width: 250px;
    top: -125px;
}
.menu-wrapper .design img:nth-child(3) {
    width: 400px;
    top: 400px;
    left: unset;
    right: 0;
}
#myTab {
    justify-content: center;
    border-bottom: 1px solid #454647;
    border-top: 1px solid #454647;
    padding: .5rem 0;
    margin-bottom: 2rem;
}
#myTab button {
    background: none;
    border-radius: unset;
    border: unset;
    color: var(--white);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0;
    margin: 1rem;
    position: relative;
}
#myTab button:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 5px;
    transform: translateX(-50%);
    border-top: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);
    opacity: 0;
    transition: .3s;
}
#myTab button.active:before {
    opacity: 1;
    width: 100%;
}
.menutab-left {
    padding-right: 3rem;
    position: relative;
}
.menutab-left:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #454647;
    top: 0;
    right: 0;
}
.menutab-right {
    padding-left: 3rem;
}
.menu-box {
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

.menu-box img {
    width: 75px;
    margin-right: 1.5rem;
    display: none;
}
.menu-text {
    width: 100%;
}
.menu-text h3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.1rem;
    position: relative;
    z-index: 0;
}
.menu-text h3 span {
    background-color: var(--grey);
}
.menu-text h3 span:nth-child(1) {
    padding-right: 1rem;
}
.menu-text h3 span:nth-child(2) {
    color: var(--yellow);
    padding-left: 1rem;
    display: none;
}
.menu-text h3:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    border-top: 1px solid #454647;
    border-bottom: 1px solid #454647;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}
.menu-text p {
    margin: 0;
    font-size: .8rem;
    color: #7e7e7e;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.menu-dishes {
    background-color: #000000;
    position: relative;
    padding: 2rem 2rem;
}
.menu-dishes:before {
    content: '';
    position: absolute;
    width: 11px;
    height: 100%;
    background-image: url(../images/icons/design10.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}
.menu-dishes:after {
    content: '';
    position: absolute;
    width: 11px;
    height: 100%;
    background-image: url(../images/icons/design10.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
}
.menu-dish-slider {
    padding: 0 50px;
}
.menu-dish-box {
    padding: 1rem;
}
.menu-dish-box:nth-child(even) {
    padding-top: 3rem;
}
.menu-dish-text {
    text-align: center;
    padding-top: 1rem;
}
.menu-dish-text h3 {
    font-size: 1.2rem;
}
.menu-dish-text p {
    color: #7e7e7e;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: .8rem;
    display: none;
}
.menu-dish-text span {
    color: var(--yellow);
    font-family: var(--font2);
    font-weight: 700;
    display: block;
    display: none;
}
.menu-dish-img {
    overflow: hidden;
}
.menu-dish-img img {
    transition: .3s;
}
.menu-dish-box:hover img {
    transform: scale(1.05) rotate(3deg);
}
/* end menu */

/* watch */
.watch-wrapper {
    background-image: url(../images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.play-btn {
    width: 80px;
    height: 80px;
    border: 1px solid var(--yellow);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 3rem auto;
    position: relative;
    z-index: 0;
}
.play-btn:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffffff70;
    z-index: -1;
    animation: ripple 2s linear infinite;
}
.play-btn:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffffff70;
    z-index: -1;
    animation: ripple 2s linear infinite;
    animation-delay: .2s;
}
@keyframes ripple {
    from {
      opacity: 1;
      transform: scale3d(0.75, 0.75, 1);
    }
    to {
      opacity: 0;
      transform: scale3d(2.5, 2.5, 1);
    }
}
/* end watch */

/* strength */
.strength-wrapper {
    position: relative;
    z-index: 0;
}
.choose-box {
    padding: 2rem 1rem;
    background-color: #131414;
    text-align: center;
}
.strength-wrapper .col-md-3:nth-child(even) .choose-box {
    background-color: #000000;
}
.choose-box h3 {
    font-size: 1.2rem;
    margin: 1rem 0;
}
.choose-box p {
    color: #7e7e7e;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: .8rem;
    margin: 0;
    display: none;
}
.choose-box img {
    width: 80px;
}
/* end strength */

/* footer */
footer {
    background-image: url(../images/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-nav li a {
    color: #7e7e7e;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin: .5rem 0;
    display: block;
    transition: .3s;
}
.footer-nav li a:hover {
    color: #fff;
}
.footer-contact {
    background-image: url(../images/icons/design15.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0e0d0c;
    position: relative;
    padding: 4rem 2rem 1rem 2rem;
    text-align: center;
}
.footer-contact:before {
    content: '';
    position: absolute;
    width: 11px;
    height: 100%;
    background-image: url(../images/icons/design10.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}
.footer-contact:after {
    content: '';
    position: absolute;
    width: 11px;
    height: 100%;
    background-image: url(../images/icons/design10.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
}
.footer-contact .logo {
    width: 150px;
    display: block;
    margin: 0 auto;
}
address {
    margin: 2rem 0;
    font-size: 12px;
    color: #a7a7a7;
    line-height: 25px;
}
.footer-contact p {
    font-size: 12px;
    color: #a7a7a7;
}
.footer-contact p span {
    color: #Fff;
    font-weight: 600;
}
/* end footer */

/* gallery */
.gallery-box {
    position: relative;
    width: calc(100% - 1rem);
    display: block;
    margin-bottom: 3rem;
}
.gallery-box img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 20px;
    transition: .3s;
}
.gallery-box:before {
    content: '';
    position: absolute;
    width: calc(100% - 1rem);
    border: 1.5px dashed #444444;
    height: 100%;
    border-radius: 20px;
    z-index: -1;
    top: 1rem;
    left: 2rem;
    transition: .3s;
}
.gallery-box:hover:before {
    border-color: var(--yellow);
}
.gallery-box:hover img {
    transform: translate(.9rem, .9rem);
}
/* end gallery */

/* tiffin */
.tiffin-box {
    background-color: #171819;
    padding: 2rem;
    border: 2px dashed #3a3a3a;
    border-radius: 20px;
    height: 100%;
}
.tiffin-box h2 {
    font-size: 2rem;
}
.tiffin-box ul li {
    font-size: 14px;
    color: #828282;
    display: flex;
    align-items: flex-start;
    padding: 0.8rem 0;
    border-bottom: 1px solid #272727;
}
.tiffin-box ul li span:nth-child(2) {
    flex: 1;
}
.tiffin-box ul li span:first-child {
    color: #000;
    width: 56px;
    margin-right: 1rem;
    font-weight: 600;
    border-radius: 5px;
    padding: 1px 5px;
    background-image: url(../images/icons/yellow-design.png);
    background-repeat: no-repeat;
    background-size: 100% 96%;
    text-align: center;
}
.tiffin-box ul li span i {
    font-style: normal;
}
/* end tiffin */














/* responsive */
@media (max-width: 991px) {
    header.active {
        top: -35px;
    }
    .top-contact {
        justify-content: center;
        height: 35px;
    }
    .top-contact li:nth-child(-n+2) {
        display: none;
    }
    .top-contact li:nth-child(3) {
        margin: 0;
    }
    .top-contact li a {
        margin: 0 1rem;
    }
    .navlist .logo {
        display: block;
        margin: 0 auto;
    }
    .navlist {
        position: fixed;
        width: 200px;
        height: 100%;
        background-color: #0d1819;
        top: 0;
        left: -220px;
        padding: 1rem;
        z-index: 15;
    }
    .navlist ul {
        flex-direction: column;
        margin-top: 2rem;
    }
    .navlist ul li {
        width: 100%;
    }
    .navlist ul li a {
        display: block;
        margin: 0;
        padding: 1rem 0;
        border-top: 1px solid #5b5b5b3d;
        text-align: center;
    }
    .navlist ul li a:hover:before {
        top: 95%;
    }
    .banner-text h1 {
        font-size: 4rem;
    }
    .offer-container .col-md-4 {
        margin-top: 1rem !important;
    }
    .header-head {
        font-size: 2rem;
    }
    .hamburger {
        display: block;
    }
}

@media(max-width: 767px) {
    .banner-text h1 {
        line-height: 4rem;
    }
    .story-left {
        margin-bottom: 2rem;
    }
    .story-left {
        margin-bottom: 2rem;
    }
    .special-left {
        height: 120vh;
    }
    .special-wrapper:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 70%);
        z-index: 0;
    }
    .special-right {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 1rem;
        max-width: unset;
        width: 100%;
    }
    .special-right .header {
        text-align: center !important;
        max-width: unset;
    }
    .special-right .header .small-head {
        align-items: center !important;
    }
    .special-right .header p {
        max-width: unset;
    }
    .special-right .header .btn-yellow {
        margin-left: auto;
        margin-right: auto;
    }
    .menutab-left:before {
        display: none;
    }
    .menutab-left, .menutab-right {
        padding: 0 1rem;
    }
}

@media(max-width: 576px) {
    .banner-text h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
}

@media(max-width: 425px) {
    .top-contact {
        display: none;
    }
    header.active {
        top: 0;
    }
    .menu-wrapper .design img:nth-child(2) {
        width: 130px;
        top: -60px;
    }
    .logo {
        width: 70px;
    }
}